<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <meta charset="UTF-8">
    <title>Better Amazon Reviews</title>
</head>
<body>

<div id="header">
  <h2>Better Amazon Reviews</h2>
</div>
<div class="ul-nav">
  <li><a class="active" href="/about">About</a></li>
  <li><a href="/home">Home</a></li>
</div>
<!--
<ul class="cloud" role="navigation" aria-label="Webdev tag cloud">
  {% for item in book_titles %}
    <li><a data-weight="3" href="/book/{{item}}">{{item}}</a></li>
  {% endfor %}
</ul> -->

<ul class="grid-container">
{% for i in range(0, len) %}

	<div class="box">
		<img src="{{book_covers[i]}}">
		<a class="name" href="/book/{{book_titles[i]}}">{{book_titles[i]}}</a></div>
{% endfor %}
</ul>
</body>
</html>
